* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h2 {
    font-family: 'Orelega One', cursive;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.5;
    font-weight: lighter;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 2;
    font-size: 1.25rem;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 15px;
}

header img {
    height: 150px;
    width: auto;
    padding: 10px;
}

header h1 {
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 4.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px orange;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: orange;
}

#mission {
    display: flex;
    height: 325px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
    background-image: url(./images/burning-emergency-fire-fireplace.jpg);
    background-size: cover;
    background-position: top;
    color: whitesmoke;
    text-shadow: 2px 1px black;
}

#mission h2 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

#services {
    text-align: center;
    margin: 3% auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

#services img {
    width: auto;
    max-height: 200px;
    margin: 10px;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.service-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.service-box span {
    font-size: 1.2rem;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.team-container {
    padding: 15px 0;
    width: 100%;
    background-image: url(./images/star-clusters-rosette-nebula-star-galaxies.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-shadow: 2px 1px black;
}

#team {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
    
}

.teammate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    padding-bottom: 15px;
}

.teammate img {
    height: 200px;
}

.team-container h2 {
    padding-bottom: 15px;
}

.teammate h3 {
    font-size: 1.7rem;
    padding-top: 15px;
    font-weight: bold;
}

#contact {
    color: whitesmoke;
    background-color: darkred;
    text-shadow: 2px 1px black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}

#contact img {
    height: 20px;
}

#contact p {
    padding: 0 20px;
}